.header-logo {
    width: 100px;
    height: 100px;
    object-fit: contain; /* Cette propriété assure que l'image est entièrement visible tout en gardant ses proportions, même si les dimensions de l'image d'origine ne sont pas carrées. */
  }

.padding-20 {
padding: 20px;
}

.padding-vertical {
margin-bottom: 25px;
}
.margin-left
{
  margin-left: 80px;
}

.padding-right {
padding-right: 20px; /* Ajustez la valeur selon vos besoins */
}

.padding-left {
    padding-left: 100px; /* Ajustez la valeur selon vos besoins */
    }
  
/* Classe pour embellir le titre */
.fancy-title {
    color: var(--vt-c-accent); /* Utilisez votre couleur d'accentuation ou une autre couleur de votre choix */
    font-size: 2.5rem; /* Ajustez la taille de la police selon vos besoins */
    font-weight: bold; /* Rendre le texte en gras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Ajouter un peu d'ombre pour du relief */
    margin-bottom: 1rem; /* Ajouter un peu d'espace en dessous */
  }

  /* Classe pour embellir les sous-titres */
.fancy-subtitle {
    color: var(--vt-c-accent); /* Utilisez votre couleur d'accentuation ou une autre couleur de votre choix */
    font-size: 1.8rem; /* Ajustez la taille de la police selon vos besoins */
    font-weight: normal; /* Poids de la police normal ou semi-gras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Ajouter un peu d'ombre pour du relief */
    margin-bottom: 1rem; /* Ajouter un peu d'espace en dessous */
  }

.fancy-element {
color: var(--vt-c-accent); /* Utilisez votre couleur d'accentuation ou une autre couleur de votre choix */
font-size: 1.2rem; /* Ajustez la taille de la police selon vos besoins */
font-weight: normal; /* Rendre le texte en gras */
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Ajouter un peu d'ombre pour du relief */
margin-bottom: 1rem; /* Ajouter un peu d'espace en dessous */
}

  
  .separator-bar {
    margin: 20px 0;
    height: 10px;
    background-image: linear-gradient(to right, #e9c123, #FC3500);
  }
  
  

/* Classe pour appliquer un cadre blanc avec des angles arrondis */
.bordered-container {
    border: 2px solid #ffffff; /* Cadre blanc */
    border-radius: 10px; /* Angles arrondis */
    padding: 10px;
    width: 200px; /* Padding intérieur pour espacer le contenu du bord */
  }
  
/* Classe pour appliquer display flex */
.flex-container {
    display: flex;
  }
  

.padding-passenger {
margin-top: 50px;
margin-bottom: 50px;
}
    

.back_white {
  background-color: #fff;
  width: 4039px;
  text-align: center;
  margin-left: -1725px;
  margin-top: -32px;
}
